@import "../../../global";

.skills{
  display: flex;
  flex-direction: column;
  width: 100%;

  .skills-container{

    .skills-section{
      display: flex;
      justify-content: space-between;
      margin: 1.2rem 0;

      @include tablet{
        align-items: center;
        flex-direction: column;
      }

      &-title{
        font-size: 2.4rem;
        font-weight: 600;
      }

      .skills-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 70%;

        @include tablet{
          max-width: 100%;
          justify-content: center;
        }
      }
    }
  }
}