@import "../../../global";

.skill-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: .8rem 1.6rem;
  height: 120px;
  margin: .6rem;

  @include tablet{
    height: 100px;
  }

  .skill-icon{
    font-size: 8rem;

    @include tablet{
      font-size: 6rem;
    }
  }

  .skill-name{
    font-size: 1.8rem;
  }
}